alembic==0.9.3
asn1crypto==0.24.0
astroid==2.3.3
attrs==17.4.0
Automat==0.6.0
blinker==1.4
cachetools==4.2.2
certifi==2019.9.11
click==6.7
colorama==0.3.7
configobj==5.0.6
constantly==15.1.0
cryptography==2.1.4
feedparser==5.2.1
Flask==0.12.2
Flask-BabelEx==0.9.3
Flask-Gravatar==0.4.2
Flask-HTMLmin==1.3.2
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.1.1
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Security==1.7.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
google-api-core==1.30.0
google-auth==1.31.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
greenlet==0.4.10
htmlmin==0.1.12
httplib2==0.19.1
hyperlink==17.3.1
idna==2.7
importlib-metadata==4.5.0
incremental==16.10.1
ipython==5.5.0
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==0.24
jsonpatch==1.16
jsonpointer==1.10
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
netifaces==0.10.4
numpy==1.19.5
olefile==0.46
packaging==20.9
PAM
paramiko==2.0.0
pbr==5.4.3
pexpect==4.2.1
phonenumbers
pickleshare==0.7.4
pip==21.1.2
prompt-toolkit==1.0.15
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydifact==0.0.5
Pygments==2.2.0
pygobject==3.26.1
pyinotify==0.9.6
PyJWT==1.5.3
pylint==2.4.4
pyOpenSSL==17.5.0
python-apt==1.6.5
python-debian==0.1.32
python-stdnum==1.12
pyxdg==0.25
PyYAML==3.12
requests==2.24.0
requests-unixsocket==0.1.5
rsa==4.7.2
SecretStorage==2.3.1
service-identity==16.0.0
setuptools==41.6.0
simplegeneric==0.8.1
simplejson==3.13.2
six==1.13.0
soupsieve==1.9.5
SQLAlchemy==1.1.11
sqlparse==0.2.4
ssh-import-id
sshtunnel==0.1.4
traitlets==4.3.2
Twisted==17.9.0
typed-ast==1.4.0
typing-extensions==3.10.0.0
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.25.11
virtualenv==15.1.0
wcwidth==0.2.5
wheel==0.30.0
wrapt==1.11.2
WTForms==2.1
xutils==2.2.2
zipp==3.4.1